@import url('./color/color.css');

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

a{
  text-decoration: none;
}

header{
  background-color: var(--md-sys-color-primary);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
}

main {
  max-width: 100%;
  padding: 100px 150px;
  box-sizing: border-box;
}

.addTask{
  margin-top: 15px;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.addTask #addTaskButton{
  margin-top: 10px;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-on-primary-container);
  border: 1px solid var(--md-sys-color-on-primary-container);
  border-radius: 8px;
  padding: 5px;
}

.addTask input {
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  border: 2px solid var(--md-sys-color-on-primary);
  width: auto;
}

.task{
  margin-top: 10px;
  border: 2px solid var(--md-sys-color-primary);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}

#taskLabel{
  padding-left: 25px;
}

.task h2{
  color: var(--md-sys-color-primary);
}

.task p{
  color: var(--md-sys-color-on-primary-container);
}

#deleteButton{
  width: 30px;
  margin-left: auto;
}

.taskChecked{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid var(--md-sys-color-secondary);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.taskChecked h2{
  color: var(--md-sys-color-secondary);
  text-decoration:line-through;
}

.taskChecked p{
  color: var(--md-sys-color-on-secondary-container);
  text-decoration:line-through;
}

.addTask input:focus{
  border: 2px solid var(--md-sys-color-on-primary-container);
  outline: none;
}

.copyright{
  text-align: center;
  background-color: var(--md-sys-color-primary);
  position: absolute;
  margin-bottom: 0px;
  padding: 10px;
  bottom: 0px;
  width: 100%;
}

.copyright a{
  color: var(--md-sys-color-on-primary);
}

a:hover {
  text-decoration: underline;
}